<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation Status Buy</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="nav_bar">

        <ul class="list_nav">

            <li>

                <a href="" class="link_nav">
                
                    Códigos
                
                </a>

            </li>

            <li>
                
                <a href="" class="link_nav">
                    
                    Perfil
                
                </a>
            
            </li>

        </ul>

        <h1 class="title">

            Automation Status Buy
        
        </h1>

        <ul class="list_nav">

            <li class="item_list_nav">
                
                <a href="" class="link_nav">
                    
                    Cadastrar-se

                </a>
            
            </li>

            <li class="item_list_nav">
                
                <a href="" class="link_login">
                    
                    Login
                
                </a>
            
            </li>
        
        </ul>

    </nav>

    <section>

            

    </section>

</body>
</html>