<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automation Status Buy</title>
    <link rel="stylesheet" href="index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
</head>
<body>

    <nav class="nav_bar">

        <ul class="list_nav">

            <li class="item_list_nav">

                <a href="" class="link_nav">
                
                    CÓDIGOS
                
                </a>

            </li>

            <li class="item_list_nav">
                
                <a href="" class="link_nav">
                    
                    PERFIL
                
                </a>
            
            </li>

        </ul>

        <h1 class="title">

            Automation Status Buy
        
        </h1>

        <ul class="list_nav">

            <li class="item_list_nav">
                
                <a href="" class="link_nav">
                    
                    CADASTRE-SE

                </a>
            
            </li>

            <li class="item_list_nav">
                
                <a href="" class="link_login">
                    
                    LOGIN
                
                </a>
            
            </li>
        
        </ul>

    </nav>

    <section class="image">

        <img src="index_image.png">

    </section>

    <section class="main">

        <div class="seta">

            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="LOGIN" fill="currentColor" class="bi bi-arrow-down-circle" viewBox="0 0 16 16" class="seta">
                
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
            
            </svg>

        </div>

        <div>

            <h1 class="title_main">

                O QUE SOU?

            </h1>

            <p class="paragrafo">

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae expedita,
                consequatur, mollitia accusantium ab aperiam assumenda, architecto possimus
                sunt quibusdam culpa quod amet nesciunt? Iste eum velit nisi consequuntur magnam.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae expedita,

            </p>

        </div>

        <div>

            <h1 class="title_main">

                O QUE SOU?

            </h1>
            
            <p class="paragrafo">

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae expedita,
                consequatur, mollitia accusantium ab aperiam assumenda, architecto possimus
                sunt quibusdam culpa quod amet nesciunt? Iste eum velit nisi consequuntur magnam.
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae expedita,

            </p>

        </div>

    </section>

</body>
</html>