*{
    margin: 0px;
    padding: 0px;
    font-family: 'Play', sans-serif;
}

li{
    list-style: none;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    font-size: 20px;
    background-color: rgb(12, 12, 12);
    color: white;
}   

ul{
    margin-right: 10px;
}

h1{
    margin-left: 10px;
}

input{
    display: flex;
    width: 500px;
    height: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    
}


#submit{
    width: 100px;
   height: 40px;
   background: rgb(12, 12, 12);
   text-align: center;
   justify-content: center;
   align-items: center;
   margin-top: 30px;
   color: white;
}

#lista{
    border: 1px solid rgb(12, 12, 12);
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(12, 12, 12);
    box-shadow: 10px 10px 13px 2px #1a1919;
}

#first{
    margin-top: 40px;
}

body{
    background-image: url('./IMAGEBACKGROUND.png');
    background-size: 100%; 
    background-position: center;
    background-repeat: repeat; 
}

footer{
    background: rgb(12, 12, 12); 
    text-align: center;
    margin-top: 0px;
    padding: 100px;
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}

a{
    margin: 15px;
    color: white;
    text-decoration: none;
}